<h1>User info</h1>

<%= image_tag @books.user.get_profile_image(100,100) %>

  <p class="name">name</p>
  <%= @books.user.name %>
  <p class="intro">introduction</p>
  <%= @books.user.introduction %>

<%= button_to editer_path(@books.user.id), class: "buttoner", method: :get do %>
  <i class="fa-solid fa-user-gear"></i>
<% end %>



<h1>New book</h1>
<%= form_with model: @book, url: '/books/:id', method: :post do |f| %>
 <p class="title">Title</p>

 <%= f.text_field :title %>

 <p class="opinion">Opinion</p>

 <%= f.text_area :body %>

 <%= f.submit 'Create Book' %>
<% end %>

<h1>Book detail</h1>
<p class="titls">Title</p>
<p class="opinions">Opinion</p>


<p class="the"><%= image_tag @books.user.get_profile_image(100,100) %></p>
 <p class="the"><%= link_to @books.user.name, user_path(@books.user.id) %></p>
<p class="the"><%= link_to @books.title, book_path(@books.id) %></p>
<p class="the"><%= @books.body %></p>
<% if @books.user == current_user %>
 <%= button_to 'Edit', {:controller => "books", :action => "edit"}, {:method => :get} %>
 <%= button_to 'Destroy', book_path(@books.id), method: :delete, "data-confirm" => "Are you sure?" %>
<% end %>

